button {
  border: none;
  background-color: rgb(235, 235, 235);
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(206, 168, 63);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(43, 43, 43);
  color: white;
}

.equals:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}
